@import '../../sassStyles/mixins.scss';

footer {
    background-color: #84989f;
    margin-top: 100px;
    font-size: 0.75rem;
    @include padding;
    padding-top: 30px;
    padding-bottom: 30px;
}

.koala {
    display: block;
    width: 60px;
    margin: 0 auto;
}