@import './sassStyles/mixins.scss';

.App {
  background-color: rgb(6, 55, 73);
  color: #fff;
}

.gold {
  text-align: center;
  margin: 0 auto;
  padding-top: 45px;
  line-height: 1;
  font-family: 'Limelight', cursive;
  color: transparent;
  font-size: 4.2rem;
  background-image: linear-gradient(
    to right,
    rgb(70, 37, 35) 0,
    rgb(203, 155, 81) 22%,
    rgb(246, 226, 122) 45%,
    rgb(246, 242, 192) 50%,
    rgb(246, 226, 122) 55%,
    rgb(203, 155, 81) 78%,
    rgb(70, 37, 35) 100%
     );
  background-repeat: no-repeat;
  background-clip: text;
}

.header-img {
  display: block;
  margin: 0 auto;
  width: 13%;
  height: 50px;
  transform: rotate(11deg);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  @include padding;
  margin-top: 25px;
}
