@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:wght@400;700&display=swap');
@import './sassStyles/mixins';

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  @include medium {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
